[Unit]
Description=SUSI Voice Recognition Service
Wants=network-online.target
After=network-online.target ss-susi-server.service

[Service]
Type=simple
ExecStart=susi-voice -v --short-log
Restart=on-failure

[Install]
WantedBy=multi-user.target

